<div class="footer">
	<div class="footer-wrapper">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 footer-logo">
		    <%= link_to "#" do %>
		      <%= image_tag "cs-logo.png" %>
		    <% end %>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 footer-links">
			</div>
		</div>
		<div class="footer-legal">© Colin Strachan, 2024.</div>
	</div>
</div>