<div class="container">
	<div class="header">
		<h1><b>Colin Strachan</b></h1>
		<p>Montreal</p>
		<div class="spacer"></div>
		<p>Follow me:</p>
		<%= link_to "LinkedIn", "https://www.linkedin.com/in/colinstrachan" %> |
		<%= link_to "Twitter", "https://www.twitter.com/colinstrachan" %> |
		<%= link_to "GitHub", "https://www.github.com/colinstrachan" %>
		<div class="spacer-line"></div>
		<div class="spacer"></div>
		<p>Full website coming soon.</p>
	</div>
</div>
